<agm-map class="mapview"
         [latitude]="38.9459997"
         [longitude]="-77.32774049999999"
         [zoom]="10"
         [disableDefaultUI]="false"
         [zoomControl]="false">

  <div *ngIf="showAddress">
    <agm-marker
      *ngFor="let userWithLoc of usersWithLoc"
      [latitude]="userWithLoc.lat"
      [longitude]="userWithLoc.lng">

      <agm-info-window>
        <strong>{{userWithLoc.userName}}</strong><br/>
        <span>{{userWithLoc.role}}</span><br/>
        <span>{{userWithLoc.phone}}</span><br/>
        <!--<span>{{userWithLoc.user.arrival | date:'shortTime'}}-{{marker.departure | date:'shortTime'}}</span><br/>-->
      </agm-info-window>
    </agm-marker>
  </div>
</agm-map>

<button class="btn btn-primary btn-add" (click)="addressSwitch()">
  <clr-icon shape="plus"></clr-icon> &nbsp; {{addressSwitchName}}
</button>
